
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

 *{
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 :root{
    --header-height:3.5rem;
      /*Color*/
      --title-color:hsl(250,8%,15%);
      --text-color:hsl(250,8%,35%);
      --body-color:hsl(250,60%,98%);
      --container-color:#fff;
      --shadow:hsla(0,0%,15%,.1);
      --scroll-bar-color:hsl(250,12%,90%);
      --scroll-thumb-color:hsl(250,12%,80%);
      /*font*/

      --body-font:'Poppins', sans-serif;
      --biggest-font-size:4rem;
      --h1-font-size:2.25rem;
      --h2-font-size:1.5rem;
      --h3-font-size:1.25rem;
      --normal-font-size:1rem;
      --small-font-size:.875rem;
      --smaller-font-size:.813rem;
      /*font weight */
      --font-medium:500;
      --font-bold:600;

      /*Margenes Bottom */

      --mb-0-5:.5rem;
      --mb-0-75:0.75rem;
      --mb-1:1rem;
      --mb-1-5:1.5rem;
      --mb-2:2rem;
      --mb-2-5:2.5rem;
      --mb-3:3rem;
       /*z index */
       --z-tooltip:10;
       --z-fixed:100;
    }
     
html{
      scroll-behavior: smooth;
}
  
body,
button,
input{
       font-family:var(--body-font);
       font-size:var(--normal-font-size);
}

body{
       background-color:var(--body-color);
       color:var(--text-color);
}
h1,h2,h3,h4{
    color:var(--title-color);
    font-weight:var(--font-medium);
}

ul{
    list-style: none;
}
a{
    text-decoration:none;
}
img{
    max-width: 100%;
    height:auto;
}

button{
    cursor: pointer;
}
button,
input{
    border:none;
    outline: none;
}
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius:.5rem;
    -webkit-border-radius:.5rem;
    -moz-border-radius:.5rem;
    -ms-border-radius:.5rem;
    -o-border-radius:.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius:.5rem;
    -webkit-border-radius:.5rem;
    -moz-border-radius:.5rem;
    -ms-border-radius:.5rem;
    -o-border-radius:.5rem;
}
.grid{
    display:grid
}

/* change background header*/
.scroll-header{
    background-color:var(--body-color);
    box-shadow: 0 1px 4px var(--shadow);
}
/*swiper*/

.swiper-pagination{
    position:initial;
    margin-top:var(--mb-2-5);
}
/*
.swiper-pagination-bullet{
    width:5px;
    height:5px;
    background:var(--title-color);
    opacity: 1;
} */
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
margin:0 .5rem;
}/*
.swiper-pagination-bullet-active{
    width:1.5rem;
    height: 5px;
    border-radius:5rem;
    -webkit-border-radius:5rem;
    -moz-border-radius:5rem;
    -ms-border-radius:5rem;
    -o-border-radius:5rem;
}*/

/*section */
.section{
    padding: 7rem 0 2rem;

}

.section__title,
.breadcrumb__title{
    font-size: var(--h1-font-size);
}

.section__title,
.breadcrumb__subtitle {
    margin-bottom: var(--mb-3);
}
.section__title,
.breadcrumb__title,
.breadcrumb__subtitle {
    text-align: center;
}
.breadcrumb__subtitle span{
    color: var(--first-color);
}
.container{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
.header{
    width: 100%;
    /* background-color: var(--container-color); */
    position:fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav{
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content:space-between;
    align-items:center;
    column-gap: 3rem;
}
.login__toggle,
.nav__toggle,
.nav__shop,
.nav__logo{
    color: var(--title-color);
}

.nav__logo{
    text-transform:lowercase;
    font-weight:var(--font-bold);
    letter-spacing: 1px;
    display:inline-block;
    align-items: center;
    column-gap: .25rem;
}
.nav__logo-icon{
    font-size: 1.25rem;
}

.nav__btns{
    display:flex;
    align-items:center;
    column-gap: 1rem;
    margin-left: auto;
}
.nav__close,
.nav__toggle,
.login__toggle,
.nav__shop{
    font-size: 1.25rem;
    cursor: pointer;
}
.nav__list{
    display:flex;
    /* align-items:center; */
    column-gap:2rem;
}
.nav__link{
    color:var(--title-color);
    font-weight: var(--font-medium);
    font-size:var(--normal-font-size);
    /* margin-right: 20px; */
}
.nav__close{
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    right: 1.25rem;
    cursor: pointer;
}
.nav__link:hover{
    color:var(--first-color)
}
.nav__close,
.nav__toggle{
    display:none;
}

.active-link{
    position: relative;
}
.active-link::before{
    content: "";
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
/*cart*/
.cart{
    position:fixed;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    width: 420px;
    box-shadow: -2px 0 4px var(--shadow);
    height: 100%;
    top: 0;
    right: -100%;
    padding:3.5rem 2rem;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
.cart__title-center{
    font-size:var(--h2-font-size);
    text-align:center;
    margin-bottom:var(--mb-3);
}
.cart__close{
   font-size: 2rem;
   color: var(--title-color);
   position:absolute;
   top: 1.25rem;
   right: .9rem;
   cursor: pointer;
}
.cart__container{
    display:grid;
    row-gap: 1.5rem;
}
.cart__card{
    display:flex;
    align-items:center;
    column-gap:1rem;
}
.cart__box{
    background-color: var(--container-color);
    padding: .75rem 1.25rem;
    display:flex;
    align-items: center;
}
.cart__img{
    width: 85px;
}
.cart__title{
    font-size:var(--normal-font-size);
    margin-bottom: var(--mb-0-5);
}
.cart__price{
    display:block;
    font-size: var(--small-font-size);
    color: var(--first-color);
    margin-bottom:var(--mb-1-5);
}
.cart__amount,
.cart__amount-content{
    display:flex;
    align-items: center;
}
.cart__amount{
    column-gap: 3rem;
}
.cart__amount-content{
    column-gap:1rem;
}
.cart__amount-box{
    display:inline-block;
    padding:.25rem;
    background-color: var(--container-color);
    cursor: pointer;
}
.cart__amount-trash{
    font-size: 1.15rem;
    color: var(--first-color);
    cursor: pointer;
}
.cart__prices{
    margin-top:6rem;
    display: flex;
    justify-content:center;
    align-items:center;
    justify-content:space-between;
}
.cart__prices-item,
.cart__prices-total{
 color: var(--title-color);
}
.cart__prices-item{
    font-size:var(--small-font-size)
}
.cart__prices-total{
    font-size: var(--h3-font-size);
    font-weight:var(--font-medium);
}
#qunatity {
    width: 30px;
    height: 30px;
    border:1px solid #000;
    color: #000;
    background-color: var(--container-color)
}
/* .cart__amount-box button {

} */
/*show cart*/
.show-cart{
    right: 0;
}
/*login*/
.login{
    position:fixed;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    width: 420px;
    box-shadow: -2px 0 4px var(--shadow);
    height: 100%;
    top: 0;
    right: -100%;
    padding:3.5rem 2rem;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
.login__title-center{
    font-size:var(--h2-font-size);
    text-align:center;
    margin-bottom:var(--mb-3);
}
.login__close{
   font-size: 2rem;
   color: var(--title-color);
   position:absolute;
   top: 1.25rem;
   right: .9rem;
   cursor: pointer;
}
.login__form{
    row-gap: 1.5rem;
}
.login__content{
    background-color: var(--container-color);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding:.75rem 1rem .25rem;
   
}
.login__label{
    font-size:var(--small-font-size);
    color: var(--title-color);
}
.login__input{
    width: 100%;
    background-color: var(--container-color);
    color: var(--text-color);
    font-size:var(--normal-font-size);
    padding: .25rem 0.5rem 0.5rem 0;
}
.signup{
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight:var(--font-medium);
}
.signup a{
    color: var(--first-color); 
}
/*button*/
.button{
    display:inline-block;
    background-color: var(--first-color);
    color:#fff;
    padding:1rem 1.75rem;
    border-radius:.5rem;
    -webkit-border-radius:.5rem;
    -moz-border-radius:.5rem;
    -ms-border-radius:.5rem;
    -o-border-radius:.5rem;
    font-weight: var(--font-medium);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.button:hover{
    background-color: var(--first-color-alt)
}

.show-login{
    right: 0;
}
/*home*/
.home__content{
    padding: 9rem 0 2rem;
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 3rem;
}
.home__group{
    display: grid;
    position: relative;
    padding-top:auto;
}
.home__img{
    height: 420px;
    transform:translateY(-3rem);
    -webkit-transform:translateY(-3rem);
    -moz-transform:translateY(-3rem);
    -ms-transform:translateY(-3rem);
    -o-transform:translateY(-3rem);
    justify-self:center;
}
.home__indicator{
    width: 8px;
    height: 8px;
    background-color: var(--title-color);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    position:absolute;
    bottom:15%;
    left: 45%;
}
.home__indicator::before{
    content: " ";
    position: absolute;
    height: 75px;
    width: 1px;background-color: var(--title-color);
    top: 0;
    right: 45%;
}
.home__details-img{
    position: absolute;
    bottom: 0;
    right: 58%;
}
/* .home__details-title{
    font-weight:var(--font-medium);
} */
.home__details-title,
.home__details-subtitle{
    display:block;
    font-size: var(--small-font-size);
    text-align: right;
}
.home__subtitle{
    font-size:var(--h3-font-size);
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
}
.home__title{
font-size: var(--biggest-font-size);
font-weight: var(--font-bold);
line-height:109%;
margin-bottom:var(--mb-1-5);
}
.home__description{
    margin-bottom:var(--mb-1-5);
    padding-right:3rem;
}
.home__buttons{
    display:flex;
    justify-content:space-between;
}
.button__icon{
    font-size:1.25rem;
}
.button--link{
    color: var(--title-color);
}
.button--flex{
    display:inline-flex;
    align-items:center;
    column-gap: .5rem;
}
/*discount*/

.discount__container{
    grid-template-columns: repeat(2, max-content);
    justify-content:center;
    align-items:center;
    column-gap: 7rem;
    background-color: var(--container-color);
    padding:3rem 0;
    border-radius:3rem;
    -webkit-border-radius:3rem;
    -moz-border-radius:3rem;
    -ms-border-radius:3rem;
    -o-border-radius:3rem;
}
.discount__img{
    width:200px;
}
.discount__data{
    padding-left: 6rem;
    text-align: center;
}
.discount__title{
    font-size:var(--h2-font-size);
    margin-bottom:var(--mb-1);
}
/*new*/
.new__container{
    padding-top:1rem;
}
.new__img{
    width: 150px;
    margin-bottom: var(--mb-1);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.new__content{
    position: relative;
    background-color:var(--container-color);
    width:310px;
    text-align: center;
    padding: 2rem 0;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
    text-align: center;
    overflow: hidden;
}
.new__tog{
    position:absolute;
    top: 8%;
    left:8%;
    color:#fff;
    background-color: var(--first-color);
    font-size: var(--small-font-size);
    padding:.25rem .5rem;
    border-radius:.25rem;
    -webkit-border-radius:.25rem;
    -moz-border-radius:.25rem;
    -ms-border-radius:.25rem;
    -o-border-radius:.25rem;
}
.new__title{
    font-size:var(--h3-font-size);
    font-weight:var(--font-medium);
}
.new__subtitle{
    display:block;
    font-size:var(--small-font-size);
    margin-bottom:var(--mb-1);
}
.new__prices{
    display:inline-flex;
    align-items: center;
    column-gap: .5rem;
}
.new__price{
    font-weight: var(--font-medium);
    color: var(--title-color);
}
.new__discount{
    color: var(--first-color);
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}
.new__button{
    display:inline-block;
    padding:.5rem;
    border-radius:.25rem .25rem .75rem .25rem;
    -webkit-border-radius:.25rem .25rem .75rem .25rem;
    -moz-border-radius:.25rem .25rem .75rem .25rem;
    -ms-border-radius:.25rem .25rem .75rem .25rem;
    -o-border-radius:.25rem .25rem .75rem .25rem;
    position:absolute;
    bottom:0;
    right: -3rem;
}
.new__icon{
    font-size:1.25rem;
}
.new__content:hover .new__img{
    transform:translateY(-1.5rem)    ;
    -webkit-transform:translateY(-1.5rem)    ;
    -moz-transform:translateY(-1.5rem)    ;
    -ms-transform:translateY(-1.5rem)    ;
    -o-transform:translateY(-1.5rem)    ;
}
.new__content:hover .new__button{
    right: 0;
}
/*STEP*/
.steps__bg{
    background-color: var(--container-color);
    padding:3.5rem 2.5rem;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}
.steps__container{
    grid-template-columns: repeat(3, 1fr);
    column-gap:2rem;
    padding-top: 1rem;
}

.steps__card{
    background-color: var(--body-color);
    padding:2.5rem 3rem 2rem 1.5rem;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}
.steps__card-number{
    display: inline-block;
    background-color: var(--first-color);
    color:#fff;
    padding:.5rem;
    border-radius:.5rem .75rem;
    -webkit-border-radius:.5rem .75rem;
    -moz-border-radius:.5rem .75rem;
    -ms-border-radius:.5rem .75rem;
    -o-border-radius:.5rem .75rem;
    font-size: var(--mb-1-5);
    margin-bottom:var(--mb-1-5);
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
}
.steps__card-title{
    font-size:var(--normal-font-size);
    margin-bottom:var(--mb-0-5);
}
.steps__card-description{
    font-size: var(--small-font-size);
}
.steps__card:hover .steps__card-number{
    transform:translateY(-1.25rem);
    -webkit-transform:translateY(-1.25rem);
    -moz-transform:translateY(-1.25rem);
    -ms-transform:translateY(-1.25rem);
    -o-transform:translateY(-1.25rem);
}
/*newsletter*/
.newsletter__container{
    display:grid;
    grid-template-columns: .5fr;
    justify-content:center;
}
.newsletter__description{
    padding:0 3rem;
    text-align:center;
    margin-bottom:var(--mb-1-5);
}
.newsletter__form{
    background-color: var(--container-color);
    padding:1rem;
    display:flex;
    justify-content:center;
    border-radius:.75rem;
    -webkit-border-radius:.75rem;
    -moz-border-radius:.75rem;
    -ms-border-radius:.75rem;
    -o-border-radius:.75rem;
}
.newsletter__form .button a{
    color: #fff;
}
.newsletter__input{
    width: 70%;
    padding:0 .5rem;
    background:none;
    color:var(--title-color);
}
.newsletter__input::placeholder{
    color:var(--text-color);
}
/*footer*/
.footer{
    position: relative;
    overflow: hidden;
}
.footer__container{
    grid-template-columns: repeat(4 , 1fr);
    justify-items:center;
    column-gap: 1rem;
    /*
    display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 40px;
    */
    
}
.footer__logo{
    color: var(--title-color);
    text-transform: lowercase;
    font-weight:var(--font-bold);
    letter-spacing: 1px;
    display:inline-flex;
    align-items: center;
    column-gap:.25rem;
    margin-bottom: var(--mb-1);
}
.footer__logo-icon{
    font-size:1rem;
}
.footer__description{
    /* font-size: 1.5rem; */
    margin-bottom: var(--mb-2-5);
}
.footer__social{
    display:flex;
    column-gap: .75rem;
}
.footer__social-link{
    display:inline-flex;
    background-color: var(--container-color);
    padding:0.25rem;
    color: var(--title-color);
    font-size:1rem;
    border-radius:.25rem;
    -webkit-border-radius:.25rem;
    -moz-border-radius:.25rem;
    -ms-border-radius:.25rem;
    -o-border-radius:.25rem;
}
.footer__social-link:hover{
    background-color: var(--first-color);
    color:#fff;
}
.footer__title{
    font-size:var(--h3-font-size);
    margin-bottom:var(--mb-1)
}
/* .footer__links{
    display: grid;
    row-gap: .35rem;
} */
.footer__link{
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: all .3s;
}
.footer__link:hover{
    color: var(--title-color);
}
.footer__copy{
    display: block;
    text-align: center;
    font-size:var(--smaller-font-size);
    margin-top:6rem;
}
.scrollup{
    position:fixed;
    right:1rem;
    bottom:-30%;
    background-color: var(--first-color);
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    display:inline-flex;
    padding:.25rem;
    z-index: var(--z-tooltip);
    opacity:.8;
    transition:all .4s;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
    
}
.scrollup:hover{
    opacity: 1;
}
.show-scroll{
    bottom:3rem;
}

/*shop */
.shop__container{
    grid-template-columns: 1.7fr 3.3fr;
    column-gap:1.8rem;
}
.sidebar{
    background-color: var(--container-color);
    padding:1.8rem;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}
.filter__title{
    font-size:var(--h3-font-size);
    text-transform:uppercase;
} 
.filter__subtitle{
font-size:var(--normal-font-size);
margin:1.25rem 0 var(--mb-0-5);
}
.filter{
    display: flex ;
    align-items:center;
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-5);
}

.filter p{
    flex:1;
}
.filter input{
    margin-right: var(--mb-0-75);
    cursor: pointer;
}
.shop__items{
    grid-template-columns: repeat(2,1fr);
    gap: 1.6rem;
}
.shop__content{
    position: relative;
    background-color: var(--container-color);
    padding:2rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-align: center;
    overflow: hidden;
}
/* .shop__content:hover{
    transform:scaleY(1.1);
    -webkit-transform:scaleY(1.1);
    -moz-transform:scaleY(1.1);
    -ms-transform:scaleY(1.1);
    -o-transform:scaleY(1.1);
    width: 100%;
} */
.shop__img{
    width: 150px;
    margin-bottom: var(--mb-1);
    transition: all .3s;
}
.shop__tag{
    position:absolute;
    top: 8%;
    left:8%;
    color:#fff;
    background-color: var(--first-color);
    font-size: var(--small-font-size);
    padding:.25rem .5rem;
    border-radius:.25rem;
    -webkit-border-radius:.25rem;
    -moz-border-radius:.25rem;
    -ms-border-radius:.25rem;
    -o-border-radius:.25rem;
}
.shop__title{
    font-size:var(--h3-font-size);
    font-weight:var(--font-medium);
}
.shop__subtitle{
    display:block;
    margin-bottom:var(--mb-1);
    font-size:var(--small-font-size);
}
.shop__prices{
    display:inline-flex;
    align-items:center;
    column-gap: .5rem;
}
.shop__price{
    font-weight: var(--font-medium);
    color: var(--title-color);
}
.shop__discount{
    color: var(--first-color);
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}
.shop__button{
    display:inline-flex;
    padding:.5rem;
    border-radius:.25rem .25rem .75rem .25rem;
    -webkit-border-radius:.25rem .25rem .75rem .25rem;
    -moz-border-radius:.25rem .25rem .75rem .25rem;
    -ms-border-radius:.25rem .25rem .75rem .25rem;
    -o-border-radius:.25rem .25rem .75rem .25rem;
    position:absolute;
    bottom:0;
    right: -3rem;
}

.shop__icon{
    font-size:1.25rem;
}
.shop__content:hover .shop__img{
    transform:translateY(-1.5rem)    ;
    -webkit-transform:translateY(-1.5rem)    ;
    -moz-transform:translateY(-1.5rem)    ;
    -ms-transform:translateY(-1.5rem)    ;
    -o-transform:translateY(-1.5rem)    ;
}
.shop__content:hover .shop__button{
    right: 0;
}
/*pagination*/
.pagination{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    column-gap: .8rem;
    font-size:var(--normal-font-size);
    margin-top: var(--mb-2-5);
} 
.pagination span{
    width:2.2rem;
    height:2.2rem;
    line-height:36px;
    text-align:center;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    cursor: pointer;
}
.pagination .current {
    background-color: var(--first-color);
     color: #fff;
}
.pagination__icon{
    font-size:var(--h2-font-size);
}
.pagination .bx-chevron-left:hover,
.pagination .bx-chevron-right:hover{
    background-color: #343434;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.pagination span:hover:nth-child(3){
    background-color: var(--first-color);
    color:#fff;
    
}
.pagination span:hover:nth-child(4){
    background-color: var(--first-color);
    color: #fff;
    
}
.pagination span:hover:nth-child(6){
    background-color: var(--first-color);
    color:#fff;
    
}
/*blog*/
.blog__container{
    row-gap:1.8rem;
}
.blog__post{
    grid-template-columns:.8fr 1.2fr;
    column-gap:2rem;
    align-items:center;
    background-color: var(--container-color);
    padding:1.4rem;
    border-radius:1.2rem;
    -webkit-border-radius:1.2rem;
    -moz-border-radius:1.2rem;
    -ms-border-radius:1.2rem;
    -o-border-radius:1.2rem;
}
.blog__img{
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.blog__details{
    font-size: var(--small-font-size);
    text-align: justify;
    margin-bottom:var(--mb-1);
}
.blog__title{
    font-size: var(--normal-font-size);
    font-weight:var(--font-medium);
    margin-bottom: var(--mb-0-5);
}
.blog__date{
    font-size: var(--smaller-font-size);
    color:var(--text-color);
    margin-bottom: var(--mb-0-75);
}
.read__more{
    text-align: right;
}
/*faq*/
.questions__container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: flex-start;
}
.questions__group{
    display:grid;
    row-gap:2rem;
   
}
.questions__item{
    background-color: var(--container-color);
    /* padding:1rem ; */
    border-radius:.25rem;
    -webkit-border-radius:.25rem;
    -moz-border-radius:.25rem;
    -ms-border-radius:.25rem;
    -o-border-radius:.25rem;
}
.questions__item-title{
    font-size:var(--small-font-size);
    font-weight:var(--font-medium);
}
.questions__icon{
    font-size: 1.25rem;
    color: var(--title-color);
}
.question__description{
    font-size:var(--smaller-font-size);
    padding:0 3.5rem 2.25rem 2.75rem;
}
.questions__header{
    display:flex;
    align-items: center;
    column-gap:.5rem;
    padding:1rem;
    cursor: pointer;
}
.questions__content{
    /* display:none; */
    overflow:hidden;
    height: 0;
}
.questions__item,
.questions__header,
.question__item-title,
.questions__icon,
.question__description,
.questions__content{
    transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
}
.accordion-open .questions__header,
.accordion-open .questions__content{
    background-color: var(--first-color);
}
.accordion-open .questions__item-title,
.accordion-open .question__description,
.accordion-open .questions__icon{
    color: var(--container-color);
}
.accordion-open .questions__icon{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

/*contact*/
.contact__container{
    grid-template-columns: .9fr 1.1fr;
    column-gap:1.5rem;
}
.contact__information{
    display:flex;
    align-items: center;
    margin-bottom:var(--mb-2);
}
.contact__icon{
    font-size: 2rem;
    color:var(--first-color);
    margin-right: var(--mb-0-75);
}
.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color);
}
.contact__form{
    row-gap:1.5rem;
}
.contact__content{
    background-color: var(--container-color);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    margin-bottom: 2rem;
}
.contact__label{
    font-size:var(--smaller-font-size);
    color:var(--title-color);
}
.contact__inputs{
    grid-template-columns:repeat(2, 1fr);
    column-gap:1.5rem;
}
.contact__input{
    width:100%;
    background-color: var(--container-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    border:none;
    outline:none;
    resize: none;
    padding: .25rem .5rem .5rem 0;
}
/*About*/
.about__container{
    grid-template-columns:repeat(2, 1fr);
    column-gap:7rem;
}
.about__img{
    width:380px;
    justify-self: center;
}
.about__title{
margin-top:var(--mb-1);
text-align:left;
}
.about__description{
    margin-bottom: var(--mb-2);
}
.about__details{
    display:grid;
    row-gap: 1.5rem;
}
.about__details-description{
    display:inline-block;
    column-gap: .5rem;
    font-size: var(--small-font-size);
}
.about__details-icon{
    font-size:1rem;
    color: var(--first-color);
    margin-top: .15rem;
}

/*Details*/
.details__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap:3rem;
    align-items:center;
}
.product__images{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}
.product__img{
    background-color: var(--container-color);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:.5rem;
    -webkit-border-radius:.5rem;
    -moz-border-radius:.5rem;
    -ms-border-radius:.5rem;
    -o-border-radius:.5rem;
    padding: 1.2rem 0;
    position: relative;
    cursor: pointer;
}
.details__img-tag{
     position: absolute;
     top: 8%;
     left:8%;
     background-color: var(--first-color);
     color: #fff;
     font-size:var(--small-font-size);
     padding:.1rem .5rem;
     border-radius:.25rem;
     -webkit-border-radius:.25rem;
     -moz-border-radius:.25rem;
     -ms-border-radius:.25rem;
     -o-border-radius:.25rem;
}
.product__img img{
    width: 150px;
}
.details__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-5);
}
.details__title{
    font-size: var(--h2-font-size);
    font-weight:var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.rating{
    display:flex;
    align-items: center;
    column-gap:1.2rem;
    margin-bottom: var(--mb-1);
}
.rating span{
    font-size: var(--small-font-size);
}
.rating i{
    margin-right: .1rem;
}
.details__prices{
    display:inline-flex;
    align-items: center;
    column-gap: .8rem;
    margin-bottom: var(--mb-1-5);
}
.details__price{
    font-weight: var(--font-medium);
    color:var(--title-color);
    font-size: var(--h3-font-size);
}
.details__discount{
    color: var(--first-color);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}
.descount__percentage{
    background-color: var(--title-color);
    padding:.25rem .40rem;
    font-size: var(--smaller-font-size);
    color: #fff;
    border-radius:.25rem;
    -webkit-border-radius:.25rem;
    -moz-border-radius:.25rem;
    -ms-border-radius:.25rem;
    -o-border-radius:.25rem;
}
.description__title{
    font-size:var(--normal-font-size);
    margin-bottom:var(--mb-0-5);
}
.description__details{
    margin-bottom:var(--mb-2);
    font-size: var(--small-font-size);
}
.cart__amount{
    margin-bottom:var(--mb-2-5);
}

/*lightbox*/
.lightbox{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, .6);
    z-index: var(--z-fixed);
    /* display: flex; */
    display: none;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    padding:1.8rem;
}
.lightbox__img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 450px;
    background-color: var(--container-color);
    display:block;
    padding:.6rem;
    cursor: pointer;
}
.lightbox__content{
    position: relative;
}
.lightbox__close{
    position: absolute;
    width:40px;
    height: 40px;
    top: -2.6rem;
    right: 0;
    font-size: 2rem;
    color: #fff;
    text-align: right;
    line-height:40px;
}
.lightbox__caption{
    position:absolute;
    left: 0;
    bottom: -2.2rem;
    width: 100%;
    display:flex;
    justify-content:space-between;
    font-size: var(--normal-font-size);
    color: #fff;
    font-weight: var(--font-medium);
    z-index: -1;
}
.lightbox__controls .prev__item,
.lightbox__controls .next__item{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--body-color);
    color:var(--title-color);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    text-align: center;
    cursor: pointer;
    top: 50%;
    margin-top: -20px;
    z-index: 110;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.lightbox__controls .prev__item{
    left: 1.8rem;

}
.lightbox__controls .next__item{
    right: 1.8rem;
}
.lightbox__controls .prev__item .bx,
.lightbox__controls .next__item .bx{
    line-height:40px;
    font-size: 2rem;
}
.lightbox__controls .prev__item:hover,
.lightbox__controls .next__item:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.lightbox__controls .prev__item:active,
.lightbox__controls .next__item:active{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.lightbox.open{
    display: flex;
}
.lightbox.open .lightbox__content{
    animation: lightboxImage .5s ease;
    -webkit-animation: lightboxImage .5s ease;
}
@keyframes lightboxImage {
    0% {
        transform: scale(.8)    ;
        -webkit-transform: scale(.8)    ;
        -moz-transform: scale(.8)    ;
        -ms-transform: scale(.8)    ;
        -o-transform: scale(.8)    ;
}
100%{
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
}
}

/* style__switcher 
.style__switcher{
    position:fixed;
    top: 26%;
    right: 20%;
    width:200px;
    background-color: var(--container-color);
    padding:1rem;
    box-shadow: -.5px 0.5px 4px var(--shadow);
    border-radius: 0.2rem;
    z-index: var(--z-tooltip);
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -ms-transform:translateX(100%);
    -o-transform:translateX(100%);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.style__switcher .s__icon{
    position:absolute;
    height:40px;
    width:40px;
    text-align: center;
    font-size: 1.25rem;
    color: var(--title-color);
    background-color: var(--container-color);
    right: 100%;
    margin-right: 1.8rem;
    cursor: pointer;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    line-height:45px;
    top: 0;
}
.style__switcher h4{
    font-size: var(--normal-font-size);
    font-weight:var(--font-bold);
    text-transform:capitalize;
    margin-bottom:var(--mb-1);
    color: var(--title-color);
}
.style__switcher .theme__colors{
   display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.style__switcher .theme__colors button{
    position: relative;
    height:30px;
    width:30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    vertical-align: middle;
}
.style__switcher .theme__colors button i{
    color:#fff;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    display: none;
}

.style__switcher .color-1{
    background-color: hsla(0,88% ,61%);
}
.style__switcher .color-2{
    background-color: hsla(260,88% ,61%);
}
.style__switcher .color-3{
    background-color: hsla(366,88% ,61%);
}
.style__switcher .color-4{
    background-color: hsla(284,88% ,61%);
}
.style__switcher .color-5{
    background-color: hsla(375,88% ,61%);
}
/* style__switcher open 
.style__switcher.open{
    transform:translateX(-10px);
    -webkit-transform:translateX(-10px);
    -moz-transform:translateX(-10px);
    -ms-transform:translateX(-10px);
    -o-transform:translateX(-10px);
}

/* active theme color 
.style__switcher .theme__colors button.active i{
    display: block;
} */
/*  media */
@media screen and (max-width: 992px){ 
    :root{
        --biggest-font-size:2rem;
        --h1-font-size:1.5rem;
        --h2-font-size:1.25rem;
        --h3-font-size:1rem;
        --normal-font-size:.938rem;
        --small-font-size:.813rem;
        --smaller-font-size:.75rem;
    }
    
}
@media screen and (max-width:1200px){
    .home__img{
        height: 400px;
    }
    /* .section__title{
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-2);
    } */
    /* .swiper-pagination{
        margin-top:var(--mb-2);
        } */
}
@media  screen and (max-width:992px){
    .container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    .section__title{
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-2);
    }
    .home__content{
        padding:8rem 0 2rem;
    }
    .home__img{
        height:300px;
        transform:translateY(0)    ;
        -webkit-transform:translateY(0)    ;
        -moz-transform:translateY(0)    ;
        -ms-transform:translateY(0)    ;
        -o-transform:translateY(0)    ;
    }
    .home__indicator{
        bottom:initial; /*8em*/
        left:initial;  /*18em*/
        top:7rem;
        right:2rem;
    }
    .home__indicator::after{
         top: -3rem;
         height: 48px;
    }
    .home__details-img{
        right:.5rem;
        bottom:initial;
    }
    .home__description{
        padding-right: 0;
    }
    .swiper-pagination{
        margin-top:var(--mb-2);
    }
    .discount__container{
        column-gap:3rem;
    }
    .new__content{
        width: 242px;
        padding: 2rem 0 1.5rem 0;
    }
    .new__img{
        width: 120px;
    }
    .new__img,
    .new__subtitle{
        margin-bottom:var(--mb-0-5);
    }
    .new__title{
        font-size:var(--normal-font-size);
    }
    .steps__bg{
        padding: 3rem 2rem 2rem;
    }
    .steps__container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
    .shop__container{
        grid-template-columns: 1.6fr 3.4fr;
    }
    .shop__content{
        padding:2rem 0 1.5rem 3.4rem;
        border-radius:.75rem;

    }
    .shop__img{
        width: 120px;
    }
    .shop__img,
    .shop__subtitle{
        margin-bottom:var(--mb-0-5);
    }
    .shop__title{
        font-size:var(--normal-font-size);
    }
    .blog__post{
        column-gap: 1.6rem;
    }
    .blog__title{
        font-size:var(--normal-font-size);
        line-height:1;
    }
    .questions__group{
        row-gap:1.5rem;
    }
    .questions__header{
        padding:.75rem .5rem;
    }
    .question__description{
        padding: 0 1.25rem 1.25rem 2.5rem;
    }
    .contact__inputs{
        grid-template-columns:1fr;
        row-gap: 1.5rem;
    }

    .about__container{
        column-gap:4rem;
    }
    .about__img{
        width: 80%;
    }
    .details__container{
        grid-template-columns: 1.1fr .9fr;
    }
    .product__title{
      margin-bottom: var(--mb-0-5);
    }
}

@media screen and (max-width:767px) { 
    body{
        margin: var(--header-height) 0 0 0 ;
    }
    .section{
        padding:4.5rem 0 2rem;
    }
    .nav{
        height: var(--header-height);
    }
    .nav__menu{
        position:fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding:6rem 2rem 3.5rem;
        transition:all 0.5s;
        -webkit-transition:al;
        -moz-transition:al;
        -ms-transition:al;
        -o-transition:al;
}
    .nav__list{
        flex-direction: column;
        row-gap: 2rem;
    }
    .nav__toggle,
    .nav__close{
        display: block;
    }
    /*show menu */
.show-menu{
    right: 0;
}
 .home__content{
     padding:0;
     grid-template-columns:1fr;
     row-gap:1rem;
 }
  .home__group{
     margin:5% 0 0 0 ;
 } 
 .home__img{
     height: 250px;
 }
 .home__title{
     margin-bottom:var(--mb-1);
 }
 .home__description{
    margin-bottom:var(--mb-1-5);
 }
.swiper-pagination{
    margin-top:var(--mb-1-5);  
}
.discount__container{
    grid-template-columns:1fr;
    row-gap:1.25rem;
    padding:2.5rem 0 1.5rem;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}
.discount__img{
    justify-self:center;
    order: 1;
}
.discount__data{
    padding-left: 0;
}
.newsletter__container{
    grid-template-columns:.7fr;
}
.shop__container {
    grid-template-columns:520px;
    justify-content: center;
    row-gap: 2rem;
}
.pagination{
    justify-content: center;
}
.blog__post{
    grid-template-columns:repeat(2, 1fr);
  
}
.about__container{
    grid-template-columns:1fr;
    row-gap: 3rem;
}
.question__container{
   grid-template-columns: 1fr;
   row-gap:2rem;
   /* display: inline-block; */
}
.details__container{
    grid-template-columns:.8fr;
    justify-content: center;
    row-gap: 2rem;
}
.footer__container{
    grid-template-columns:1fr;
    row-gap: 2rem;
    justify-content: start;
}
.footer__copy{
    margin-top:4.5rem;
}

}

@media screen and (max-width:576px) { 
    .steps__container{
        grid-template-columns:1fr;
    }
    .steps__bg{
        padding: 3rem 2rem 2rem;
    }
    .newsletter__container{
        grid-template-columns:1fr;
    }
    .login,
    .cart{
        width: 100%;
    }
    .shop__container{
        grid-template-columns:.8fr;
    }
    .shop__items{
        grid-template-columns:1fr;
    }
    .sidebar{
        padding: 1.25rem 1.4rem;
    }
    .pagination span{
        height:1.8rem;
        width: 1.8rem;
        line-height: 30px;
    }
    .pagination{
        column-gap:.4rem;
    }
    .blog__post{
        grid-template-columns:1fr;
        row-gap: .8rem;
        display: inline-block;
    }
    .blog__details{
        font-size:var(--normal-font-size);
        line-height: 1.8rem;
    }
    .contact__container{
        grid-template-columns:1fr;
        row-gap:3rem;
    }
    .details__container{
        grid-template-columns:1fr;
    }
}
@media screen and (max-width:320px) {
    .container{
        margin-left: var(--mb-1);
        margin-right:var(--mb-1);
    }
    .nav{
        column-gap: 0;
    }
    .home__img{
        height: 200px;
    }
    .home__buttons{
        flex-direction: column;
        /* width: max-content; */
        row-gap:1rem;
    }
    .steps__bg{
        padding:2rem 1rem;
    }
    .steps__card{
        padding:1.5rem;
    }
    .shop__container{
        grid-template-columns: 1fr;
        display: inline-block;
    }
    .pagination span{
        font-size:var(--small-font-size);
    }
    .blog__post{
        padding: .8rem;
    }
    .product__images{
        grid-template-columns:1fr;
    }
}
